<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/styles/style.css">
  <title>Georgia</title>
</head>
<body>
  <%- include('./navbar') -%>
  
  <h1>Georgia</h1>
  <h2>Population and GDP of Georgia</h2>
  <% console.log(geo) 
  
  geo.forEach(function(ge)
  {%>
    <div>
    <h3>Year : 
      <%= ge.date %>
    </h3>
    <h3>GDP : 
      <%= ge.GDP %>
    </h3>
    <h3>Population : 
      <%= ge.Population %>
    </h3>

  </div>
  <%})


  %>

  <%- include('./footer') -%>
</body>
</html>